<template lang="pug">
  .vehiculos
    v-row(
      align='center'
      justify='center')
      v-col(cols="12", lg="10")
        v-card
          v-list-item
            v-list-item-content
              v-list-item-title.headline Vehículos
            v-list-item-action
              v-btn(
                icon
                to="/vehiculos/new")
                v-icon mdi-plus
          v-divider
          v-simple-table
            template(v-slot:default)
              thead
                tr
                  th.text-left Nombre
                  th
                  th
                  th
                  th.text-left Editar
                  th.text-left Eliminar
              tbody
                tr(v-for='vehiculo in vehiculos' :key='vehiculo._id')
                  td(colspan="4").text-left {{ vehiculo.nombre }}
                  td
                    v-btn(
                      icon
                      :to="'/vehiculos/' + vehiculo._id + '/edit'")
                      v-icon mdi-pencil
                  td
                    v-btn(
                      icon
                      :to="'/vehiculos/' + vehiculo._id + '/delete'")
                      v-icon mdi-delete
</template>

<script>
import moment from "moment-timezone";

export default {
  data() {
    return {
      moment,
      vehiculos: []
    };
  },
  async mounted() {
    try {
      const { data: vehiculos } = await this.$http.get("/api/vehiculos");
      this.vehiculos = vehiculos;
    } catch (error) {
      // console.error(error);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
</style>
