<template lang="pug">
  .new
    v-row(
      align='center'
      justify='center')
      v-col(cols="12", lg="8")
        v-card
          v-list-item
            v-list-item-content
              v-list-item-title.headline Crear vehículo
          v-card-text
            v-form(@submit.prevent="saveVehiculo")
              v-select(
                label='Tipo'
                name='tipo'
                :items="tiposVehiculo"
                v-model="vehiculo.tipo"
                v-validate="'required'"
                :error="errors.has('tipo')"
                :error-messages="errors.has('tipo') ? ['Este campo es obligatorio'] : []")
              v-select(
                label='Marca'
                name='marca'
                :items="marcas"
                v-model="vehiculo.marca"
                v-validate="'required'"
                :error="errors.has('marca')"
                :error-messages="errors.has('marca') ? ['Este campo es obligatorio'] : []")
              v-text-field(
                label='Nombre'
                name='nombre'
                type='text'
                v-model="vehiculo.nombre"
                v-validate="'required'"
                :error="errors.has('nombre')"
                :error-messages="errors.has('nombre') ? ['Este campo es obligatorio'] : []")
              v-textarea(
                :label='`Descripción (${vehiculo.descripcion ? vehiculo.descripcion.length : 0}/250)`'
                name='descripcion'
                :no-resize="true"
                v-model="vehiculo.descripcion"
                v-validate="'required'"
                maxlength="250"
                :error="errors.has('descripcion')"
                :error-messages="errors.has('descripcion') ? ['Este campo es obligatorio'] : []")
              v-text-field(
                label='Velocidad máxima (km/h)'
                name='velocidadMaxima'
                type='text'
                v-model="vehiculo.velocidadMaxima"
                v-validate="'required|decimal'"
                :error="errors.has('velocidadMaxima')"
                :error-messages="errors.has('velocidadMaxima') ? errors.firstRule('velocidadMaxima') === 'decimal' ? ['La velocidad máxima debe ser numérica'] : ['Este campo es obligatorio'] : []")
              v-text-field(
                label='Autonomía  (Lts/100km)'
                name='autonomia'
                type='text'
                v-model="vehiculo.autonomia"
                v-validate="'required|decimal'"
                :error="errors.has('autonomia')"
                :error-messages="errors.has('autonomia') ? errors.firstRule('autonomia') === 'decimal' ? ['La autonomía debe ser numérica'] : ['Este campo es obligatorio'] : []")
              v-text-field(
                label='Kilometraje (kms)'
                name='kilometraje'
                type='text'
                v-model="vehiculo.kilometraje"
                v-validate="'required|decimal'"
                :error="errors.has('kilometraje')"
                :error-messages="errors.has('kilometraje') ? errors.firstRule('kilometraje') === 'decimal' ? ['El kilometraje debe ser numérico'] : ['Este campo es obligatorio'] : []")
              .d-flex.justify-center.align-center
                v-file-input(
                  accept="image/*"
                  label="Imagen principal (auto completo)"
                  name="imagenPrincipal"
                  @change="setImagenPrincipal")
              v-divider
              .d-flex.justify-center.align-center.pt-2
                span Galería de imágenes
              .d-flex.justify-center.align-center.input-galeria
                v-file-input(
                  accept="image/*"
                  label="Añadir imagen/es"
                  multiple
                  name="addimagen"
                  @change="setNewImagen")
              .d-flex.justify-start.align-center.flex-wrap
                .img-preview(
                  v-for="(img, index) in fotosData"
                  :key="index")
                  v-img(
                    :src="img"
                    :contain="true")
                  .eliminar-logo
                    v-tooltip(bottom)
                      template(v-slot:activator='{ on }')
                        v-btn(
                          v-on="on"
                          @click="eliminarImagen(index)"
                          icon)
                          v-icon(color="red") mdi-delete
                      span Eliminar
          v-divider
          v-card-actions
            .flex-grow-1
            v-btn.primary(
              @click="saveVehiculo"
              :disabled="sent")
              span(v-if="!sent") Crear
              v-progress-circular(
                indeterminate
                size="20"
                v-if="sent")
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      tiposVehiculo: [
        { text: "Auto", value: "auto" },
        { text: "Pickup", value: "pickup" }
      ],
      marcas: [],
      imagenPrincipal: "",
      fotos: [],
      fotosData: [],
      vehiculo: {
        marca: "",
        tipo: "",
        nombre: "",
        descripcion: "",
        velocidadMaxima: "",
        autonomia: "",
        kilometraje: "",
        imagenPrincipal: "",
        fotos: []
      }
    };
  },
  async mounted() {
    try {
      const { data: marcas } = await this.$http.get(`${this.SERVER_URL}/marcas`);
      this.marcas = marcas.map(m => ({ text: m.nombre, value: m._id }));
    } catch (error) {
      // console.error(error);
    }
  },
  methods: {
    eliminarImagen(index) {
      if (this.fotos[index]) {
        this.fotos.splice(index, 1);
        this.fotosData.splice(index, 1);
      }
    },
    setNewImagen(files) {
      if (files && files.length > 0) {
        files.map(file => {
          this.fotos.push(file);
          const reader = new FileReader();
          const self = this;
          reader.onloadend = function read() {
            self.fotosData.push(reader.result);
          };
          reader.readAsDataURL(file);
        });
      }
    },
    setImagenPrincipal(file) {
      this.imagenPrincipal = file;
    },
    saveVehiculo() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          const uploaded = await this.uploadedFile(this.imagenPrincipal);
          if (uploaded) this.vehiculo.imagenPrincipal = uploaded;
          const fotos = await Promise.all(this.fotos.map(foto => this.uploadedFile(foto)));

          this.vehiculo = { ...this.vehiculo, fotos };

          try {
            const { status, data } = await this.$http({
              method: "POST",
              url: `${this.SERVER_URL}/vehiculos`,
              body: {
                ...this.vehiculo
              }
            });

            if (status === 201 && data && data._id) {
              this.$router.replace("/vehiculos");
            }
          } catch (error) {
            // console.error(error);
          }
          this.sent = false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.new {
  .img-preview {
    width: 31.333%;
    height: 125px;
    background-color: #ccc;
    margin: 1%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .eliminar-logo {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}
</style>
