<template lang="pug">
  .drawer
    v-navigation-drawer(
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app)
      v-list-item(to="/")
        v-list-item-content
          v-list-item-title.title Panel de control
      v-list(dense nav)
        v-list-item(to="/clientes")
          v-list-item-content
            v-list-item-title Clientes
        v-list-item(to="/marcas")
          v-list-item-content
            v-list-item-title Marcas
        v-list-item(to="/vehiculos")
          v-list-item-content
            v-list-item-title Vehiculos
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: ["showDrawer", "toggleDrawer"],
  data() {
    return {
      drawer: this.showDrawer
    };
  },
  computed: {
    ...mapGetters("users", ["user"])
  },
  watch: {
    drawer() {
      if (this.drawer !== this.showDrawer) {
        this.toggleDrawer();
      }
    },
    showDrawer(newVal) {
      this.drawer = newVal;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.drawer {
}
</style>
