<template lang="pug">
  .main-menu
    v-app-bar(
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app)
      v-app-bar-nav-icon(
        @click="menuAction")
        v-icon {{isHome ? 'mdi-menu' : 'mdi-arrow-left'}}
      v-toolbar-title
        router-link(to="/") 
      v-spacer
      v-menu
        template(v-slot:activator="{ on }")
          v-btn(
            icon
            v-on="on")
            v-icon mdi-dots-vertical
        v-list
          v-list-item(@click="doLogout")
            v-list-item-title Cerrar sesión
</template>

<script>
import { mapActions } from "vuex";
import Vue from "vue";

export default {
  props: ["toggleDrawer"],
  computed: {
    isHome() {
      return this.$route.name === "Home";
    }
  },
  methods: {
    ...mapActions("users", ["logout"]),
    doLogout() {
      this.logout();
      Vue.http.headers.common.Authorization = "";
      window.location.reload();
    },
    menuAction() {
      if (this.isHome) {
        this.toggleDrawer();
      } else {
        this.$router.go(-1);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.main-menu {
  .v-toolbar__title {
    a {
      color: #333;
      text-decoration: none;
      width: 100%;
      text-overflow: ellipsis;
    }
  }
}
</style>
