<template lang="pug">
  .login
    v-container.fill-height(fluid)
      v-row(
        align='center'
        justify='center')
        v-col(
          cols='12'
          sm='8'
          md='6')
          v-card
            v-toolbar
              v-toolbar-title Iniciar sesión
            v-card-text
              v-form(@submit.prevent="performLogin")
                //- v-validate="'required|email'"
                //- :error-messages="errors.has('email') ? errors.firstRule('email') === 'email' ? ['Ingrese un email válido'] : ['Este campo es obligatorio'] : []")
                v-text-field(
                  label='Login'
                  name='email'
                  prepend-icon="mdi-account"
                  type='text'
                  v-model="user.email"
                  v-validate="'required'"
                  :error="errors.has('email')"
                  :error-messages="errors.has('email') ? ['Este campo es obligatorio'] : []")
                v-text-field#password(
                  label='Contraseña'
                  name='password'
                  prepend-icon='mdi-lock'
                  type='password'
                  v-model="user.password"
                  v-validate="'required'"
                  :error-messages="errors.has('password') ? ['Este campo es obligatorio'] : []")
            v-card-actions
              .pl-3.pr-5(v-if="loginError")
                span.error--text
                  | Ocurrió un error al iniciar sesión, por favor
                  | verificá los datos e intentá nuevamente.
              .flex-grow-1
              v-btn.primary(
                @click="performLogin"
                :disabled="sent") 
                span(v-if="!sent") Ingresar
                v-progress-circular(
                  indeterminate
                  size="20"
                  v-if="sent")
</template>

<script>
import { mapActions } from "vuex";
import Vue from "vue";

export default {
  data() {
    return {
      sent: false,
      loginError: false,
      user: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapActions("users", ["login"]),
    performLogin() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          this.loginError = false;
          this.login({
            email: this.user.email,
            password: this.user.password,
            callback: async (err, res) => {
              if (err) {
                this.loginError = true;
              } else {
                this.user = {
                  email: "",
                  password: ""
                };
                Vue.http.headers.common.Authorization = res.data.accessToken;
                this.$router.replace("/");
              }
              this.sent = false;
            }
          });
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
