<template lang="pug">
  .home
    span Procarg | Panel de control
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.home {
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
</style>
