<template lang="pug">
  .edit
    v-row(
      align='center'
      justify='center')
      v-col(cols="12", lg="8")
        v-card
          v-list-item
            v-list-item-content
              v-list-item-title.headline Editar marca
          v-card-text
            v-progress-linear(
              v-if="!marca"
              indeterminate
              color="grey")
            v-form(
              @submit.prevent="saveMarca"
              v-if="marca")
              v-text-field(
                label='Nombre'
                name='nombre'
                type='text'
                v-model="marca.nombre"
                v-validate="'required'"
                :error="errors.has('nombre')"
                :error-messages="errors.has('nombre') ? ['Este campo es obligatorio'] : []")
              v-row
                v-col(
                  justify="center"
                  align="center")
                  .logo(v-if="logoURI")
                    v-img(
                      :src="logoURI"
                      aspect-ratio="1"
                      class="grey lighten-2"
                      max-height="300")
                    v-tooltip(bottom)
                      template(v-slot:activator='{ on }')
                        v-btn.eliminar-logo(
                          v-on="on"
                          @click="eliminarLogo"
                          icon)
                          v-icon(color="red") mdi-delete
                      span Eliminar logo
                  v-file-input(
                    accept="image/*"
                    label="Ícono"
                    name="logo"
                    @change="setLogo")
          v-divider
          v-card-actions
            .flex-grow-1
            v-btn.primary(
              @click="saveMarca"
              :disabled="sent")
              span(v-if="!sent") Guardar
              v-progress-circular(
                indeterminate
                size="20"
                v-if="sent")
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      logo: "",
      logoURI: "",
      marca: ""
    };
  },
  async mounted() {
    if (!this.$route.params.id) {
      this.$router.replace("/marcas");
    } else {
      try {
        const { data: marca } = await this.$http.get(
          `${this.SERVER_URL}/marcas/${this.$route.params.id}`
        );
        this.marca = marca;

        if (marca.logo) {
          const {
            data: { uri: logo }
          } = await this.$http.get(`${this.SERVER_URL}/uploads/${marca.logo}`);
          this.logoURI = logo;
        }
      } catch (error) {
        // console.error(error);
      }
    }
  },
  methods: {
    setLogo(file) {
      this.logo = file;
    },
    eliminarLogo() {
      this.logoURI = "";
      this.marca.logo = "";
    },
    saveMarca() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          const uploaded = await this.uploadedFile(this.logo);
          if (uploaded) this.marca.logo = uploaded;

          try {
            const { status } = await this.$http({
              method: "PUT",
              url: `${this.SERVER_URL}/marcas/${this.marca._id}`,
              body: {
                ...this.marca
              }
            });

            if (status === 200) {
              this.$router.replace("/marcas");
            }
          } catch (error) {
            // console.error(error);
          }
          this.sent = false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.edit {
}
</style>
