<template lang="pug">
  .marcas
    v-row(
      align='center'
      justify='center')
      v-col(cols="12", lg="10")
        v-card
          v-list-item
            v-list-item-content
              v-list-item-title.headline Marcas
            v-list-item-action
              v-btn(
                icon
                to="/marcas/new")
                v-icon mdi-plus
          v-divider
          v-simple-table
            template(v-slot:default)
              thead
                tr
                  th.text-left Nombre
                  th
                  th
                  th
                  th.text-left Editar
                  th.text-left Eliminar
              tbody
                tr(v-for='marca in marcas' :key='marca._id')
                  td(colspan="4").text-left {{ marca.nombre }}
                  td
                    v-btn(
                      icon
                      :to="'/marcas/' + marca._id + '/edit'")
                      v-icon mdi-pencil
                  td
                    v-btn(
                      icon
                      :to="'/marcas/' + marca._id + '/delete'")
                      v-icon mdi-delete
</template>

<script>
import moment from "moment-timezone";

export default {
  data() {
    return {
      moment,
      marcas: []
    };
  },
  async mounted() {
    try {
      const { data: marcas } = await this.$http.get("/api/marcas");
      this.marcas = marcas;
    } catch (error) {
      // console.error(error);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
</style>
