<template lang="pug">
  .delete
    v-row(
      align='center'
      justify='center')
      v-col(cols="11", md="6")
        v-card
          v-card-text(v-if="!cliente")
            v-progress-linear(
              indeterminate
              color="grey")
          .contenido(v-if="cliente")
            v-list-item
              v-list-item-content
                v-list-item-title.headline Eliminar cliente: {{cliente.nombre}}
            v-divider
            v-card-text
              span ¿Está seguro que desea eliminar el cliente?
            v-divider
            v-card-actions
              .flex-grow-1
              v-btn.info(
                to="/clientes") Volver
              v-btn.error(
                @click="deleteCliente")
                span(v-if="!sent") Eliminar
                v-progress-circular(
                  indeterminate
                  size="20"
                  v-if="sent")
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      cliente: ""
    };
  },
  async mounted() {
    if (!this.$route.params.id) {
      this.$router.replace("/clientes");
    } else {
      try {
        const { data: cliente } = await this.$http.get(
          `${this.SERVER_URL}/clientes/${this.$route.params.id}`
        );
        this.cliente = cliente;
      } catch (error) {
        // console.error(error);
      }
    }
  },
  methods: {
    async deleteCliente() {
      this.sent = true;
      try {
        const { status } = await this.$http.delete(
          `${this.SERVER_URL}/clientes/${this.cliente._id}`
        );
        if (status === 200) {
          this.$router.replace("/clientes");
        }
      } catch (error) {
        // console.error(error);
      }
      this.sent = false;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.delete {
}
</style>
