<template lang="pug">
  .new
    v-row(
      align='center'
      justify='center')
      v-col(cols="12", lg="8")
        v-card
          v-list-item
            v-list-item-content
              v-list-item-title.headline Crear cliente
          v-card-text
            v-form(@submit.prevent="saveCliente")
              v-text-field(
                label='Nombre'
                name='nombre'
                type='text'
                v-model="cliente.nombre"
                v-validate="'required'"
                :error="errors.has('nombre')"
                :error-messages="errors.has('nombre') ? ['Este campo es obligatorio'] : []")
              .d-flex.justify-center.align-center
                v-file-input(
                  accept="image/*"
                  label="Ícono"
                  name="logo"
                  @change="setLogo")
          v-divider
          v-card-actions
            .flex-grow-1
            v-btn.primary(
              @click="saveCliente"
              :disabled="sent")
              span(v-if="!sent") Crear
              v-progress-circular(
                indeterminate
                size="20"
                v-if="sent")
</template>

<script>
export default {
  data() {
    return {
      sent: false,
      logo: "",
      cliente: {
        nombre: "",
        logo: ""
      }
    };
  },
  methods: {
    setLogo(file) {
      this.logo = file;
    },
    saveCliente() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.sent = true;
          const uploaded = await this.uploadedFile(this.logo);
          if (uploaded) this.cliente.logo = uploaded;

          try {
            const { status, data } = await this.$http({
              method: "POST",
              url: `${this.SERVER_URL}/clientes`,
              body: {
                ...this.cliente
              }
            });

            if (status === 201 && data && data._id) {
              this.$router.replace("/clientes");
            }
          } catch (error) {
            // console.error(error);
          }
          this.sent = false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~Styles/_config.scss";
.new {
}
</style>
