<template lang="pug">
  #root-app
    v-app
      Drawer(
        v-if="loggedIn"
        :showDrawer="showDrawer"
        :toggleDrawer="toggleDrawer")
      MainMenu(
        v-if="loggedIn"
        :toggleDrawer="toggleDrawer")
      v-content
        v-container
          RouterView
</template>

<script>
import { mapState } from "vuex";

import Drawer from "@/site/components/general/Drawer";
import MainMenu from "@/site/components/general/MainMenu";

export default {
  components: {
    Drawer,
    MainMenu
  },
  data() {
    return {
      showDrawer: true
    };
  },
  computed: {
    ...mapState("users", ["loggedIn"])
  },
  methods: {
    toggleDrawer() {
      this.showDrawer = !this.showDrawer;
    },
    toggleNotificaciones() {
      this.showNotificaciones = !this.showNotificaciones;
    }
  }
};
</script>

<style lang="scss">
@import "~Styles/config";

// @font-face {
//   font-family: '';
//   src: url('');
// }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  #root-app {
    display: block;
    * {
      box-sizing: border-box !important;
    }
  }
}
</style>
